extends layout

block content
    h4 Users
    .content-panel(style='padding:10px')
        .row
            .col-md-4
                .form-group
                    span Name*
                    input#name.form-control(name='name' type='text' placeholder='Username')
                .form-group
                    span Pin*
                    input#pin.form-control(name='pin' type='text' placeholder='Pin' onkeypress='if ( isNaN( String.fromCharCode(event.keyCode) )) return false;' maxlength='6')
                .form-group
                    span Role*
                    select#role.form-control
                        option(selected='' hidden='') Role
                        option(value='admininstrator') Admininstrator
                        option(value='repairing') Repairing
                        option(value='moderator') Moderator
                        option(value='user') User
                .form-group
                    button#add_user.btn.btn-success(type='button') Add
            .col-md-8
                .adv-table
                    table#example.display.table.table-bordered(cellpadding='0' cellspacing='0' border='0' style='width: 100%')
                        thead
                            tr
                                th UID
                                th Name
                                th Pin
                                th Role
                                th Actions
            span  

block script
    script(type='text/javascript').
        $(document).ready(function () {
            var oTable = $('#example').DataTable({
                "ajax": "/admin/master/users/get_list",
                "columns": [
                    {"data": "uid"},
                    {"data": "name"},
                    {"data": "pin"},
                    {"data": "role"},
                ],
            });
            $('#add_user').click(function (event) {
                $.ajax({
                    url: "/admin/master/users/add",
                    type: "POST",
                    data: {
                        name: $('#name').val(),
                        pin: $('#pin').val(),
                        role: $('#role').val(),
                    },
                    success: function (response) {
                        console.log(response)
                        oTable.ajax.reload();
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
        });
